# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/

# dbt (keep some important files)
dbt_packages/
logs/

# Environment & Secrets
.env
.env.local

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
cryptodata-env
